### CDS NYU
### DS-GA 1007 | Programming for Data Science
### Lab 02
### September 11, 2024


# Introduction to Programming in Python

## Section Leaders


Dong Li  --  dl5214@nyu.edu  -- 

Ziyi (Ceci) Chen --  zc1634@nyu.edu  --

## Resources

* Guide for introduction to programming: https://swcarpentry.github.io/python-novice-gapminder/

* Python Basic Data Types: https://en.wikiversity.org/wiki/Python_Concepts/Basic_data_types

### Get more info on builit-in function by appending a question mark

In [53]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

---

## 1. Python Concepts/Basic data types

---

### Variables and data types

In Python, variable names:
 * can include letters, digits, and underscores
 * cannot start with a digit
 * are case sensitive.

This means that, for example:
 * weight0 is a valid variable name, whereas 0weight is not
 * weight and Weight are different variables
 
Python defines several primitive types of data. Common ones are:
 * Integer numbers
 * Floating point numbers (includes complex numbers)
 * Strings
 * Boolean

In [54]:
variable = "Let's make some omelets"; print(variable)

Let's make some omelets

In [55]:
a = 1
print("value:", a, "type:", type(a))

value: 1 type: <class 'int'>

In [56]:
b = 2.0
print("value:", b, "type:", type(b))

value: 2.0 type: <class 'float'>

In [57]:
c = 10.52 + 10j 
print("value:", c, "type:", type(c))   
print("real:", c.real, "img:", c.imag)

value: (10.52+10j) type: <class 'complex'>
real: 10.52 img: 10.0

In [58]:
length_m = "length in meters"
type(length_m)

str

In [59]:
length_m = 10.0
type(length_m)

float

In [60]:
length_m = 10
type(length_m)

int

### Assign multiple variables at once

In [61]:
three_type_of_energy = ["Protein", "Carbohydrates", "Fat"] # create list of three string 

p, c, f = three_type_of_energy # list unpacking 
print(f"{c} taste good") # Equivalent to print("{} taste good".format(c))
print(f"{f} isn't bad for you anymore?")

Carbohydrates taste good
Fat isn't bad for you anymore?

### Add Numbers

In [62]:
p = 4
f = 9
c = 4
c + p

8

### Add Strings

In [63]:
"A carbohydrate " + "has " + str(c) + " calories"

'A carbohydrate has 4 calories'

---

## 2. Control Flows

---

Basic flows that control the order in which a program is executed.

### if/elif/else

In [64]:
## Conditional Statement 

if a == b: 
    print("a == b")
else:
    print("a != b")

a != b

In [65]:
a = 2

print("the value of a is:")
if a == 1:
    print(1)
elif a == 2:
    print(2)
elif a == 3:
    print(3)
else:
    print("neither 1, 2, 3 but", a)

the value of a is:
2

### for/range
-  loops are a common way to iterate over sequences like lists or ranges

Iterating with an index:

In [66]:
# Use range to iterate sequence of #, start with 0

for i in range(15):
    print("i: ", i)
    #print("the total num is 15")

i:  0
i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9
i:  10
i:  11
i:  12
i:  13
i:  14

Iterating over a list (without using any index)

In [67]:
lst_of_words = ["welcome", "to", "the", "class", "all", "the", "best"]

# acess each element in list directly 
for word in lst_of_words:
    print(word)

welcome
to
the
class
all
the
best

Use enumerate to automatically create an index while iterating 
- When you need both the index and the value from a list, which adds a counter to an iterable and returns it as an enumerate object.

In [68]:
lst_of_words = ["welcome", "to", "the", "class", "all", "the", "best"]

print("(index, word)")
for index, word in enumerate(lst_of_words):
    print(index, word)

(index, word)
0 welcome
1 to
2 the
3 class
4 all
5 the
6 best

Iterate over a dictionary

In [69]:
dict_example = {1: "a", 2: "b", 3: "c"}

for key, val in dict_example.items():  # The .items() returns a list of dictionary's key-value tuple pairs
    print("key: %s | value: %s" % (key, val))

key: 1 | value: a
key: 2 | value: b
key: 3 | value: c

### break/continue/while

A `break` statement terminates the current loop

In [70]:
lst_of_numbers = [1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10]

# It is commonly used to exit a loop prematurely when a specific condition is met.
for element in lst_of_numbers:
    if element == 0.0:
        print("division by 0")
        break
    else:
        print(1 / element)

1.0
0.5
0.3333333333333333
0.25
0.2
division by 0

A `continue` statement continues with the next iteration of the loop
- skips the remaining code in the current iteration and proceeds to the next iteration of the loop.

In [71]:
lst_of_numbers = [1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10]


for element in lst_of_numbers:
    if element == 0.0:
        print("division by 0") # skips to the next iteration with continue, thus avoiding an error and continuing the loop.
        continue   
    print(1 / element)

1.0
0.5
0.3333333333333333
0.25
0.2
division by 0
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111
0.1

Using an Infinite while Loop with break
- A while statement creates an infinite loop, which will run indefinitely unless a break condition is explicitly included.

In [72]:
carbohydrate = 4
calories = 0
while True:
    calories += carbohydrate
    print(f"Eating more carbohydrates {calories}")
    if calories > 8:
        print("This is all I can eat")
        break

Eating more carbohydrates 4
Eating more carbohydrates 8
Eating more carbohydrates 12
This is all I can eat

Using continue in a For Loop

In [73]:
three_type_of_energy = ["protein", "sugar", "fat"]

for energy in three_type_of_energy:
    if energy == "sugar":
        print(f"skipping {energy} for my health") # skips certain iterations based on a condition with continue.
        continue
    print(f"eating {energy}")

eating protein
skipping sugar for my health
eating fat

### List Comprehension
- provides a concise and efficient way to create list

In [74]:
l = [x ** 2 for x in range(11)] #create a list of squared numbers
print("list:", l)

list: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---
## 3. Basic Math Operations
---

Python is also a built-in calculator, capabale of performing simple and advanced arithmetic operations. By installing additional libraries (such as NumPy which is covered in Lecture 5), it can also perform the most complex mathematical operations and scientific simulations

### Adding and Subtracting Numbers

In [75]:
steps = (1 + 1) - 1
print(f"Two Steps Forward and One Step Back = {steps}")

Two Steps Forward and One Step Back = 1

### Multiplication with Decimals

Can use float type to solve decimal problems

In [76]:
body_fat_percentage = 0.10
weight = 200
fat_total = body_fat_percentage * weight
print(f"I weight 200lbs, and {fat_total}lbs of that is fat")

I weight 200lbs, and 20.0lbs of that is fat

### Using Exponents

Using the Python math library

In [77]:
import math
math.pow(2,3) # call 2 to the 3rd power

# returns a floating point number, even if both the base and the exponent are integer

8.0

Can also use built in exponent operator to accomplish same thing

In [78]:
2**3

8

Multiply

In [79]:
2*3

6

### Converting Between different numerical types

In [80]:
number = float(100)
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100.0 is type [float]

In [81]:
number = int(100.0)
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100 is type [int]

### Numbers can also be rounded

Python Built in round

In [82]:
too_many_decimals = 1.912345897
round(too_many_decimals, 3)

1.912

---
## 4. Strings
---

### 4.1 Use string methods

#### String Quoting (')

In [83]:
'Here is a string'

'Here is a string'

#### Double quotes (")
-  useful when the string itself contains single quotes, thus avoiding escape characters.

In [84]:
# python treates them the same, regardless of whether they are defined with single or double quotes
# String comparison 
"Here is a string" == 'Here is a string'

True

#### Triple Strings   (''' or """)
- used for multi-line strings or strings that span several lines

In [85]:
a_very_large_phrase = """
Wikipedia is hosted by the Wikimedia Foundation, 
a non-profit organization that also hosts a range of other projects.
"""

print(a_very_large_phrase)

Wikipedia is hosted by the Wikimedia Foundation,
a non-profit organization that also hosts a range of other projects.

#### Raw Strings
- In a regular string, backslashes are used as escape characters, which means they are used to introduce special character sequences. 
- Raw strings are denoted by prefixing the string with the letter r or R before the opening quote. In raw strings, backslashes are treated as literal characters and do not introduce escape sequences.

In [86]:
jon_jones = '...wrote on twitter he is the greatest "heavyw8e! \nfighter of all time'
print(jon_jones) # \n is interpreted as a newline character

...wrote on twitter he is the greatest "heavyw8e!
fighter of all time

In [87]:
jon_jones = r'...wrote on twitter he is the greatest "heavyw8e! \nfighter of all time'
print(jon_jones)

...wrote on twitter he is the greatest "heavyw8e! \nfighter of all time

#### Case Manipulation

In [88]:
captain = "Patrick Tayluer"

captain

'Patrick Tayluer'

In [89]:
captain.capitalize() # Converts only the first character of the string to uppercase

'Patrick tayluer'

In [90]:
captain.lower() #  Converts all characters in the string to lowercase

'patrick tayluer'

In [91]:
captain.upper() # Converts all characters in the string to uppercase.

'PATRICK TAYLUER'

In [92]:
captain.swapcase() #Swaps the case of each letter in the string (lowercase becomes uppercase and vice versa)

'pATRICK tAYLUER'

In [93]:
captain = 'patrick tayluer'
captain.title() # Converts the first character of each word to uppercase

'Patrick Tayluer'

#### Interrogation

In [94]:
river = 'Mississippi'

In [95]:
len(river) # Finding Length of the String

11

In [96]:
river.count('s') # Counting Occurrences of a Substring

4

In [97]:
river.index('pp') # Finding the Index of a Substring

8

In [98]:
river.index('r') # returns Value Error for non-exsist substring

ValueError: substring not found

In [103]:
river.find('r') # returns -1 for non-exsist substring

-1

In [104]:
river.startswith('M') # Checking if the String Starts with a Specific Character

True

In [105]:
river.endswith('i') # Checking if the String Ends with a Specific Character

True

In [106]:
'sip' in river # Checking for the Presence of a Substring using in operator

True

#### Content Type
- Python provides various string methods to check the nature of the content within strings

In [107]:
'abc123'.isalpha() # Checks if all characters in the string are alphabetic

False

In [108]:
'abc123'.isalnum() # Checks if all characters in the string are alphanumeric

True

In [66]:
'lowercase'.islower()

True

In [67]:
'lowercase'.isupper()

False

In [68]:
'The Good Ship'.istitle() # check if first character of each word is uppercase

True

In [69]:
'The bad seed'.istitle()

False

### 4.2 Format strings

F-strings where introduced in Python 3.6, as a shorthand for the string method `format` seen during the lecture.

You can just prefix a string by either a ‘F’ or ‘f’ before the beginning quotation mark, and values can then be inserted into F-strings at runtime using replacement fields delimited by curly braces.

#### Insert variable into replacement field

In [109]:
strings_count = 5
frets_count = 24
f"Noam Pikelny's banjo has {strings_count} strings and {frets_count} frets" # insert variables directly into the string

"Noam Pikelny's banjo has 5 strings and 24 frets"

#### Insert expression into replacement field

In [110]:
a = 12
b = 32
f"{a} times {b} equals {a*b}"  # The expression {a * b} is evaluated within the f-string

'12 times 32 equals 384'

#### Index list in string replacement fields

In [111]:
players = ["Tony Trischka", "Bill Evans", "Alan Munde"]
f"Performances will be held by {players[1]}, {players[0]}, and {players[2]}" # indices of the list to reference specific players

'Performances will be held by Bill Evans, Tony Trischka, and Alan Munde'

### 4.3 Manipulate strings

#### Concatenation

In [78]:
"Bob" + "beroo" # join two strings using + operator

'Bobberoo'

#### Multiplication

In [2]:
"AB" * 8 # repeat a string a specified number of times using * operator

'ABABABABABABABAB'

#### Remove Whitespace

In [80]:
ship = " The Yankee Clipper "
ship

' The Yankee Clipper '

In [81]:
ship.strip() # remove leading and trailing whitespace

'The Yankee Clipper'

In [82]:
ship.lstrip() # remove only leading

'The Yankee Clipper '

In [83]:
ship.rstrip() # remove only trailing

' The Yankee Clipper'

In [84]:
ship.rstrip("per ") # remove specified characters from the end of the string

' The Yankee Cli'

#### Add padding
-  for alignment or ensuring a string reaches a certain length
-  default is a space

In [85]:
port = "Boston"

In [86]:
port.center(12, '*') #  centers the string within a field of a specified width, padding with *

'***Boston***'

In [87]:
port.ljust(12, '*') # left-justifies the string in a field of a specified width

'Boston******'

In [88]:
port.rjust(12, '*') # right-justifies the string in a field of a specified width

'******Boston'

#### Align multiple strings in a column

In [90]:
for port_city in ['Liverpool', 'Boston', 'New York', 'Philadelphia']:
    print(port_city.rjust(12)) # right-align all city names in a 12-character wide field

   Liverpool
      Boston
    New York
Philadelphia

In [112]:
'-5'.zfill(4) # zero-fills a string by padding it with zeros on the left until reaches a specified length

'-005'

#### Replace

In [92]:
"FILADELFIA".replace("F", "PH")

'PHILADELPHIA'

#### Spitting and Joining

In [115]:
words_string = "Here,Are,Some,Words"
words_string

'Here,Are,Some,Words'

#### Split on comma

In [116]:
words = words_string.split(',')  # break up a string into a list of words on comma(and other delimiter).
words

['Here', 'Are', 'Some', 'Words']

#### Joining

In [7]:
':'.join(words) # joining element using seperator colon

'Here:Are:Some:Words'

In [117]:
'？'.join(words)

'Here？Are？Some？Words'

#### Split on newline

In [7]:
multiline = "Sometimes we are given \n a multiline document \n as a single string"
multiline

'Sometimes we are given \n a multiline document \n as a single string'

In [5]:
print(multiline)

Sometimes we are given
 a multiline document
 as a single string

In [11]:
for line in multiline.splitlines():
    print(line)  # This will print each line from the multiline string

Sometimes we are given
 a multiline document
 as a single string

#### Conditional Processing
- output only certain lines based on specific conditions

In [13]:
keyword = "string"

for line in multiline.splitlines():
    if keyword in line:
        print(line)  # This will print only the lines containing the word "string".

 as a single string

#### Slicing
- inclusive in starting index, ending with exclusive

In [99]:
collector = "William Main Doerflinger"
collector[0] # Retrieves the first character of the string.

'W'

In [100]:
collector[-1]  # Retrieves the last character of the string.

'r'

In [101]:
collector[13:18]  # Extracts a substring from the string from index 13 to 17 -> (14th to 18th characters)

'Doerf'

In [102]:
collector[-7:] # from the seventh character to the end of the string

'flinger'

---
## 5. Sequence data types
---

### List

#### Creating an empty list

In [107]:
empty = [] # no elements
empty

[]

#### Using square brackets with initial values

In [108]:
numbers = [1, 2, 3]
numbers

[1, 2, 3]

#### Casting an iterable

Any iterable can be cast to a list

In [5]:
numbers = list(range(10)) # converts a sequene of # into list
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Creating  list using multiplication

In [110]:
num_players = 10
scores = [0] * num_players  # initializes a list with ten zeros (handy for initializing scores or counters)
scores

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Mixing data types

Lists can contain multple data types

In [111]:
mixed = ['a', 1, 2.0, [13], {}]   # string, integer, float, another list, and dictionary
mixed

['a', 1, 2.0, [13], {}]

#### Indexing

Items in lists can be accessed using indices in a similar fashion to strings.

#### access first item

In [7]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
numbers[0]

0

#### Access last item

In [114]:
numbers[-1]

9

#### Access any item

In [10]:
numbers[4] # retrieves the fifth element from the list

4

#### Adding new element to a list

#### Append to the end of a list

In [116]:
letters = ['a']
letters.append('c')
letters

['a', 'c']

#### Insert at beginning of list

In [117]:
letters.insert(0, 'b')
letters

['b', 'a', 'c']

#### Insert at arbitrary position

In [118]:
letters.insert(2, 'c')
letters

['b', 'a', 'c', 'c']

#### Extend with another list

In [119]:
more_letters = ['e', 'f', 'g']
letters.extend(more_letters)
letters

['b', 'a', 'c', 'c', 'e', 'f', 'g']

#### Change item at some position

In [120]:
letters[3] = 'd' # assign new values 
letters

['b', 'a', 'c', 'd', 'e', 'f', 'g']

#### Setting step(increment between indices in the slice)

In [118]:
letters[1::2] # [start:stop:step] pattern

['b', 'd']

In [119]:
letters[0:3:2]

['a', 'c']

#### Unpacking

In [120]:
first, middle, last = [1, 2, 3]

f"first = {first},  middle = {middle},  last = {last}"

'first = 1,  middle = 2,  last = 3'

#### Removing items from a list

#### Pop from the end

In [121]:
letters = ['a', 'b', 'c', 'd', 'e', 'f']
letters.pop()
letters

['a', 'b', 'c', 'd', 'e']

#### Pop by index

In [122]:
letters.pop(2)
letters

['a', 'b', 'd', 'e']

#### Remove specific item

In [123]:
letters.remove('d')
letters

['a', 'b', 'e']

### Tuple

#### Create tuple using brackets

In [124]:
tup = (1, 2, 3)
tup

(1, 2, 3)

#### Create tuple with commas

In [18]:
tup = 1, 2, 3
tup

(1, 2, 3)

#### Behaviours shared by lists and tuples

The following sequence behaviors are shared by lists and tuples

##### 1. Check item in sequence

In [128]:
3 in (1, 2, 3, 4, 5)

True

##### 2. Check item not in sequence

In [129]:
'a' not in [1, 2, 3, 4, 5]

True

##### 3. Concatenation

In [15]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [16]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

##### 4. Slicing & Indexing

In [20]:
tup[1:2]

(2,)

In [23]:
letters[1:2]

['b']

---
## 6. Dictionaries
---

Dictionaries are mappings of key-value pairs

In [24]:
dictionary = {} # curley braces
dictionary

{}

#### Create a dictionary based on key/value pairs

In [23]:
key_values = [['key 1','value 1'], ['key 2', 'value 2']] # list of list with key values pairs 
dictionary = dict(key_values)
dictionary

{'key 1': 'value 1', 'key 2': 'value 2'}

#### Use curley braces to create a dictionary with initial key/values

In [24]:
dictionary = {'key 1': 'value 1',
              'key 2': 'value 2'}  # Reassigning the Dictionary Explicitly

dictionary

{'key 1': 'value 1', 'key 2': 'value 2'}

#### Access value using key

In [142]:
dictionary['key 1']

'value 1'

#### Add key/value pair to an existing dictionary

In [147]:
dictionary['key 3'] = 'value 3'

dictionary

{'key 1': 'value 1', 'key 2': 'new-value 2', 'key 3': 'value 3'}

#### Update value for existing key

In [148]:
dictionary['key 2'] = 'new value 2'
dictionary['key 2']

'new value 2'

#### Get keys

In [149]:
list(dictionary.keys())

['key 1', 'key 2', 'key 3']

#### Get values

In [25]:
list(dictionary.values())

['value 1', 'value 2']

#### Get both keys and values

In [151]:
dictionary.items()

dict_items([('key 1', 'value 1'), ('key 2', 'new value 2'), ('key 3', 'value 3')])

#### Iterating Over the Dictionary Items

In [152]:
for key, value in dictionary.items(): # using for loop 
    print(f"{key}: {value}")

key 1: value 1
key 2: new value 2
key 3: value 3

#### Check if dictionary has key

The ‘in’ syntax we used with sequences checks the dicts keys for membership.

In [154]:
'key 5' in dictionary

False

#### Remove item

In [156]:
del(dictionary['key 1'])
dictionary

{'key 2': 'new value 2', 'key 3': 'value 3'}

#### Keys must be immutable

List as key

Lists are mutable and not hashable, so using list as key will return Type error

In [161]:
items = ['item 1', 'item 2', 'item 3']

map = {}

map[items] = "some value"

TypeError: unhashable type: 'list'

Tuple as a key

Tuples are immutable and hence hashable

In [162]:
items = 'item 1', 'item 2', 'item 3'
map = {}
map[items] = "some value"

map

{('item 1', 'item 2', 'item 3'): 'some value'}

---
## 7. Print
---

In [164]:
print("Omelets are healthy")

Omelets are healthy

Let us recap the four different ways to `print` we covered. The last two (using replacement fields) have more options for formatting strings, but for simple print statements just pick your favorite way

In [165]:
variable = "eggs"
print("What do you think about", variable, "?")
print("What do you think about " + variable + "?")
print("What do you think about {}?".format(variable))
print(f"What do you think about {variable}?")

What do you think about eggs ?
What do you think about eggs?
What do you think about eggs?
What do you think about eggs?

---
## 8. Read and write to file
---

In [1]:
infile = open("lyrics.txt","r")  # in read mode 'r'
lines = infile.readlines()
print(lines[-1])                                  # Print the last line from the file

Hallelujah

In [101]:
infile = open("lyrics.txt","r")
outfile = open("output.dat","w") # in write mode 'w'to overwites exsisting content 
print("Occurences of Hallelujah:", file = outfile) #  Write Header in output file

for line in infile:
    if("Hallelujah" in  line): 
        outfile.write(line)                        # Writes the line to outfile if it contains "Hallelujah"
outfile.close()

In [102]:
!cat output.dat  # view the contents of the file

Occurences of Hallelujah:
The baffled king composing Hallelujah
Hallelujah
Hallelujah
Hallelujah
Hallelujah
And from your lips, she drew the Hallelujah
Hallelujah
Hallelujah
Hallelujah
Hallelujah
It's a cold and it's a broken Hallelujah
Hallelujah
Hallelujah
Hallelujah
Hallelujah
And every breath, we drew was Hallelujah
Hallelujah
Hallelujah
Hallelujah
Hallelujah
It's a cold and it's a broken Hallelujah
Hallelujah
Hallelujah
Hallelujah
Hallelujah

---
## 9. Import
---

The `import` keyword is used to make code from other modules (called libraries or packages in Python) available in current program

In [100]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [99]:
from datetime import date
today = date.today() 
print("Today's date:", today)

Today's date: 2024-09-10

## **Thank you everyone!**