### CDS NYU
### DS-GA 1007 | Programming for Data Science
### Lab 08
### October 30, 2024


# Pandas: Advanced Data Objects (Part 1)

### ▶ Pandas Objects: Series, Index, and Dataframe

### ▶ Indexing and Selection

### ▶ Loading data from files

## Section Leaders


Dong Li  --  dl5214@nyu.edu  -- 

Ziyi (Ceci) Chen --  zc1634@nyu.edu  --

## Resources

* Concise textbook introduction to Pandas: ”Python Data Science Handbook” pp. 33-96, by Jake VanderPlas
    * Also accessible online at https://jakevdp.github.io/PythonDataScienceHandbook

* Pandas's freely acccessible, online, high-quality and concise documentation: https://pandas.pydata.org

* Exercise: 100 Pandas Puzzles https://github.com/ajcr/100-pandas-puzzles

## 1. Pandas Objects: Index, Series, and Dataframe

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Index
Indices operate like an list in many ways.

In [ ]:
ind = pd.Index(['a', 'b', 'c', 'd', 'e'])
ind

In [ ]:
ind[::2] #Recall python's [start:stop:step] slicing covered in Lab6

Indices are immutable.

In [ ]:
ind[0] = "x" #Error message: Index does not support mutable operations

## Series

A series should be interpreted as a very, very fancy list, with an index.

In [ ]:
series = pd.Series(np.arange(5) + 10, index=ind) 
print(series)

In [ ]:
print(f"Access series' values: {series.values}")
print(f"Access series' index: {series.index}")
print(f"Access index values: {series.index.values}")

If indexes are not explicitly defined, default index will be created.

In [ ]:
series = pd.Series([10,11,12,13,14])
print(series)
print(f"Default index: {series.index}")

A series can also be constructed from dictionary.

In [ ]:
dict = {'a': 10,'b': 11,'c': 12,'d': 13,'e': 14}
series = pd.Series(dict)
print(series)

## Dataframe
A DataFrame should be interpreted as two things:

1. A dictionary of series
2. A fancy 2D array (sort of)

### Construct dataframe

Construct dataframe by column: construct dataframe as a dictionary of series

In [ ]:
name = pd.Series(['Kate','Lucy','Emma'])
num_children = pd.Series([0, 2, 1]) 
pet = pd.Series(['cat', 'dog', 'fish']) 
salary = pd.Series([90, 24, 44]) 

data = pd.DataFrame({"name":name,
                     "num_children":num_children, 
                     "pet":pet, 
                     "salary":salary})
data #display without print function is in a spreadsheet kind of view

Make it one step: construct dataframe from dictonary

In [ ]:
data = pd.DataFrame({
    'name': ['Kate','Lucy','Emma'],
    'num_children': [0, 2, 1],
    'pet':      ['cat', 'dog', 'fish'],
    'salary':   [90, 24, 44]
})
data

Construct dataframe by row: construct from a list of dictionaries

In [ ]:
data = pd.DataFrame([
    {'name': 'Kate', 'num_children': 0, 'pet': 'cat', 'salary': 90}, 
    {'name': 'Lucy', 'num_children': 2, 'pet': 'dog', 'salary': 24},
    {'name': 'Emma', 'num_children': 1, 'pet': 'fish', 'salary': 44}
    ])
data

### Dataframe columns

In [ ]:
data.columns

In [ ]:
#rename columns
data.columns = ['first_name','children#', 'pet', 'salary(k)']
data

### Dataframe index

We can set a column as index

In [ ]:
data.set_index('first_name', inplace=True)
data

We can also reset index to go back to default index

In [ ]:
data.reset_index()

If we set a new index, the dataframe will automatically re-align to the index,
and fill unkown data with NaN

In [ ]:
data.reindex(["Kate","Emma","Doris"])

# 2. Indexing and selction

### Accessing by column name

In [ ]:
data["pet"]

In [ ]:
type(data["pet"])

In [ ]:
print(data["pet"].values)
print(data["pet"].index)

### Accessing by position .iloc[ ]

In [ ]:
data.iloc[2]

In [ ]:
type(data.iloc[2])

In [ ]:
print(data.iloc[2].values)
print(data.iloc[2].index)

In [ ]:
data.iloc[0:2]

In [ ]:
data.iloc[0:2,1:3] #[row, column]

### Accessing by labels .loc[ ]

In [ ]:
data.loc['Emma']

In [ ]:
data.loc[['Kate', 'Lucy']]

In [ ]:
data.loc[['Kate', 'Lucy'],['pet','salary(k)']]

### Filtering

In [ ]:
mask = data["salary(k)"] >= 30 #return a boolean array
mask

In [ ]:
data[mask]

In [ ]:
data[(data["salary(k)"] >= 30) & (data["children#"] > 0)]

### Select for modifying values
Any of these selection conventions can be used for modifying values

In [ ]:
data.loc["Emma","children#"] = 2
data

### Create new column

In [ ]:
data["new_column"] = np.nan
data

In [ ]:
data["salary/children"] = data["salary(k)"]/data["children#"]
data

In [ ]:
data["has_children"] = np.where(data["children#"]>0, True, False)
data

### Removing data

In [ ]:
del data["new_column"]
data

In [ ]:
data.drop(["salary/children"], axis=1, inplace=True)
data

In [ ]:
data.drop(["Emma"], axis=0)

In [ ]:
data.drop(data.index[2], axis=0)

### Dataframe as 2-dimensional array

In [ ]:
data.values

Many matrix-like observations can be done on dataframe. For example, we can transpose dataframe to swap rows and columns.

In [ ]:
data.T

# Exercise 

Consider the dataframe `df` below.
1. Replace the content of row 3 to -1 and row 7 to 0
2. Create a new column "C3+C5" to be equal to column C3 + column C5
3. Replace all values less than 1 as 0
4. Remove row 9 and column "C4"

In [ ]:
rng = np.random.RandomState(1)
m = rng.uniform(low=0, high=2, size=((10,5)))
df = pd.DataFrame(data=m, columns=['C1','C2','C3','C4','C5'])
df

## Basic Operations on Pandas Series

In [ ]:
series =  data["salary(k)"]

print(series.mean())
print(series.std())

In [ ]:
series.describe()

In [ ]:
series.value_counts()

In [ ]:
series.unique()

In [ ]:
series.isnull().any()

## Visualization

The plot method on Series and DataFrame is just a simple wrapper around plt.plot()
* ‘bar’ or ‘barh’ for bar plots
* ‘hist’ for histogram
* ‘box’ for boxplot
* ‘kde’ or ‘density’ for density plots
* ‘area’ for area plots
* ‘scatter’ for scatter plots
* ‘hexbin’ for hexagonal bin plots
* ‘pie’ for pie plots

In [ ]:
df = pd.DataFrame(np.random.randint(0, 5, (10, 4)), columns=["a", "b", "c", "d"])
df

In [ ]:
df.plot()

In [ ]:
df.plot(kind ='bar')

In [ ]:
df['a'].plot(kind ='hist')

# 3. Data Loading

#### CSV files
- A simple CSV file can be loaded with `read_csv`
- If the file does not have a header row, pandas will assign one
- Column names can be assigned when loading data
- Can specify which column will become the index
- Can have multiple indices

In [ ]:
%%writefile simple.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
# simple CSV file loading


# the first row becomes the column indices
df = pd.read_csv('simple.csv')
print(df)

print(df.columns.values)

In [ ]:
# indexing columns automatically
df = pd.read_csv('simple.csv',header=None)

print(df)

print(df.columns.values)

In [ ]:
# specifying column names
df = pd.read_csv('simple.csv',names=['c0','c1','c2','c3','c4'])

print(df)

print(df.columns.values)

In [ ]:
# a column can become the row index
df = pd.read_csv('simple.csv',names=['c0','c1','c2','c3','c4'],index_col='c4')
#df = pd.read_csv('simple.csv',index_col='c5')

print(df)

print(df.index.values)

In [ ]:
%%writefile simple.csv
key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
two,a,9,10
two,c,13,14

In [ ]:
df=pd.read_csv('simple.csv',index_col=['key1','key2'])
df

#### TSV files
- A tab is 8 whitespace characters
- Sometimes the number of whitespace characters can vary above or below 8. Can use regular expressions

In [ ]:
%%writefile simple.csv
a    b  c d        message
1   2    3 4 hello

In [ ]:
df = pd.read_csv("simple.csv", delimiter='\s+', header = None)
df

#### JSON files

In [ ]:
import json
with open('IMDB-Movie-Data.json') as json_file:
    data = json.load(json_file)

print(data)

In [ ]:
df = pd.read_json('IMDB-Movie-Data.json')
df

## Hierarchical Index
Indices can be lists of lists, creating an hierarchy. The same is valid to columns.

In [ ]:
populations = [33871648, 37253956,18976457, 19378102,20851820, 25145561]
index = [['California','California','New York','New York','Texas','Texas'],
        [2000,2010,2000,2010,2000,2010]]
pop = pd.Series(populations, index=index)
pop

In [ ]:
pop.index.names = ['state', 'year']
pop

hierarchical index in rows and columns

In [ ]:
# hierarchical index in rows and columns
# hierarchical indices and columns
index = pd.MultiIndex.from_product([["California", "New York", "Texas"], [2000, 2010]],
                                   names=['state', 'year'])
columns = pd.MultiIndex.from_product([['Above 18', 'Under 18'], ['Average height', 'Median weight']],
                                     names=['age group', 'stats'])

# mock some data
data = np.round(np.random.randint(150,190, size=(6, 4)))

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

In [ ]:
health_data["Above 18"]

In [ ]:
health_data.loc["California":"New York"]

In [ ]:
health_data.loc["California", 2000]["Above 18"]