## **DS-GA 1007 $\:$ | $\,$ Lecture 7**

## **Programming for Data Science**

<br>

---

#### Jeremy Curuksu, PhD

#### NYU Center for Data Science

#### October 28, 2024

#### jeremy.cur@nyu.edu

## **Pandas: Advanced Data Objects (Part 1)**

<br>

### **Last week**:

### ▶  Introduction to Graphical Data Visualization 

### ▶  Introduction to Matplotlib

### ▶ Advanced Matplotlib Functionalities

<br>

### **Today**:


### ▶ Introduction to Manipulating Labeled/Relational Data

### ▶ Creating Pandas Objects: '*Series*', '*DataFrame*', '*index*'

### ▶ Indexing and Selection of Data with Pandas

### ▶ Practice Exercise

# Topics on Pandas covered in this course

• **Part 1**: Pandas series and data frames, indexing and selection, fancy indexing, Boolean and hierarchical indexing, reshaping

• **Part 2**: Operating on data with Pandas, handling missing values

• **Part 3**: Statistical analysis with Pandas (aggregation, group operations, merging, joining)

• **Part 4**: Manipulating, analyzing and vizualizing time series with Pandas


# Introduction

https://pandas.pydata.org


**Pandas is a Python package for data manipulation and analysis that builds on top of NumPy, so all NumPy functionalities can be leveraged when using Pandas. Pandas adds functionalities to help manipulate and analyze "any kind" of data**. NumPy's ndarray data structure provides functionalities for the type of clean, well-organized data typically seen in numerical computing tasks. While it serves this purpose very well, its limitations become clear when we need more flexibility e.g., **attaching labels to data, working with missing data, complex merging and groupings, pivots, etc**. These more advanced operations are an important piece of analyzing the less structured data available in many forms in the world around us. Pandas provides efficient access to these sorts of data manipulation tasks that occupy much of a data scientist's time.


**Pandas offers the data structures called `Series` and `DataFrame`, which are arrays with attached row labels and column labels, and often with heterogeneous types and/or missing data.** Pandas offers a convenient storage interface for labeled data and powerful data operations familiar to users of both database frameworks and spreadsheet programs.

**A `Series` is essentially a 1D array, and a `DataFrame` is a multidimensional array** i.e., a set of `Series` (similar to the difference between a vector and a matrix in linear algebra mentioned in the lecture on NumPy). 


**A third data structure called `index` is also available**. As its name suggests, `index` is a series of indices, generally some labels attached to some data, which can be manipulated on its own and/or attached to a `Series` or `DataFrame` object.

**Pandas is a free open source package** originally created by Wes McKinney, a mathematician who worked in Finance and needed to analyze time series. This explains why **Pandas has advanced functionalities to manipulate and analyse time series, such as date range generation and frequency conversion, moving window statistics, date shifting and lagging, etc**. The name is derived from the term "panel data", an econometrics term for datasets that include observations over multiple time periods. Its name is a play on the phrase "Python data analysis".

# Case study examples with Pandas

There will be four lectures on Pandas. As we explore more advanced concepts, we will illustrate them directly with case studies. For those of you who would like to start looking at case studies now, I recommend you start with these:

* Carpentry (indexing, slicing): https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset.html

* Carpentry (data exploration): https://datacarpentry.org/python-ecology-lesson/02-starting-with-data.html

* Kaggle (data exploration): https://www.kaggle.com/code/kashnitsky/topic-1-exploratory-data-analysis-with-pandas/notebook

# Online Documentation
The [pandas.pydata.org](https://pandas.pydata.org) website is the primary online resource for the library's documentation, tutorials, and other resources

To display Pandas's built-in documentation:

```ipython
pd?
```

To display the pandas namespace:

```ipython
pd.<TAB>
```

Pandas Cheatsheet: https://github.com/pandas-dev/pandas/blob/main/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

# Import Pandas as a library:

In [2]:
import pandas as pd # Abbreviations "pd" is semi-standardized...
pd.__version__

'2.2.3'

In [3]:
pd?

Type:        module
String form: <module 'pandas' from '/Users/qianruzhang/anaconda3/envs/ds/lib/python3.11/site-packages/pandas/__init__.py'>
File:        ~/anaconda3/envs/ds/lib/python3.11/site-packages/pandas/__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.


# 1) Creating Pandas Objects:

## `Series`, `DataFrame`, `index`

- Pandas data come in two flavors: `Series`, `DataFrame`. 

- `Series` are 1D `DataFrame`. 

- In contrast, `DataFrame` can be of any dimension. 

- Both are attached to `index` objects.

## Creating Pandas Series

``Series`` is a one-dimensional array of indexed data

### From a Python List or Array

A `Series` can be created by converting a list or an array

In [4]:
data = pd.Series([100, 200, 300, 400, 500])
data

0    100
1    200
2    300
3    400
4    500
dtype: int64

A default series of integers is implicitly attached as `index` to label the data if none is explicitly attached by the programmer.

#### A Series has values and indexes

In [5]:
data.values

array([100, 200, 300, 400, 500])

In [6]:
data.index # Default index implicitely defined as integers

RangeIndex(start=0, stop=5, step=1)

#### Indexes can be defined explicitly, and do not need to be integers

In [7]:
data = pd.Series([100, 200, 300, 400, 500], index = ['A', 'b', 'c', 10, 200])
data

A      100
b      200
c      300
10     400
200    500
dtype: int64

In [8]:
data.index

Index(['A', 'b', 'c', 10, 200], dtype='object')

In [9]:
data['b']

200

In [10]:
data[10]

400

### From a Python Dictionary

In [11]:
movies = {"The Hangover": 100, "Hot Fuzz": 121, "Tower Heist": 104, "The Interview": 112}
movies

{'The Hangover': 100,
 'Hot Fuzz': 121,
 'Tower Heist': 104,
 'The Interview': 112}

In [12]:
data = pd.Series(movies)
data

The Hangover     100
Hot Fuzz         121
Tower Heist      104
The Interview    112
dtype: int64

A Pandas object can be indexed by label or by position, as will be discussed in more details in section 2. 
Indexing by position is particulary useful if we don't know (or care about) index labels.

In [13]:
data['The Interview'] # Indexing by explicit label

112

In [14]:
data[3] # Indexing by implicit position

/var/folders/f6/jjmfkpp52bzg1lpytwjwn5jc0000gn/T/ipykernel_56377/575458921.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[3] # Indexing by implicit position

112

In [15]:
data[1:4] # Slicing by implicit position

Hot Fuzz         121
Tower Heist      104
The Interview    112
dtype: int64

## Creating Pandas Data Frames 

``DataFrame`` is a multi-dimensional array of ``Series``, typically a 2D array where each column is a ``Series``

### From a Python List or Array

A 2D `DataFrame` can be created by converting a *nested* list or a 2D array

In [16]:
# Let's convert a 4x3 array (4 rows, 3 columns) into a DataFrame object
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]] # l is a nested list
df = pd.DataFrame(l, columns=['a', 'b', 'c'])
df

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

### From a Python Dictionary

In [17]:
d = {'Column 1': [1, 2], 'Column 2': [3, 4]} # d is a dictionary
df = pd.DataFrame(d)
df

   Column 1  Column 2
0         1         3
1         2         4

###  Example of Pandas data frame with explicit labels defined for rows and for columns

In [18]:
import numpy as np
data = pd.DataFrame(np.random.rand(5, 5),
                    columns = ['Feature x1', 'Feature x2', 'Feature x3', 'Feature x4', 'Target y'],
                    index = ['Obs 1', 'Obs 2', 'Obs 3', 'Obs 4', 'Obs 5'])
data

       Feature x1  Feature x2  Feature x3  Feature x4  Target y
Obs 1    0.823268    0.606808    0.501033    0.785575  0.633185
Obs 2    0.179363    0.064157    0.430555    0.559991  0.958436
Obs 3    0.985134    0.092762    0.841418    0.682580  0.503510
Obs 4    0.507461    0.815026    0.286085    0.938642  0.836428
Obs 5    0.475012    0.375248    0.640844    0.118999  0.031850

### From a file 
Pandas data frames can be created by loading a dataset from a file. Several formats are possible (CSV, Excel,...), *CSV* is standard.

- A CSV file can be loaded with the Pandas method `read_csv`.

- Row index and column names can be explicitly defined when loading data. A column can be used as row index.

- If not provided, by default Pandas automatically assigns a row index and uses the first row as header to assign column names.

#### From a CSV file

In [19]:
# Let's start with a fictitious, simple dataset
%cat simple.csv

a,b,c,d,color
1,2,3,4,blue
5,6,7,8,purple
9,10,11,12,red

In [20]:
# Load the contents of a CSV file into a DataFrame using 'read_csv'
df = pd.read_csv('simple.csv')
print(df)

   a   b   c   d   color
0  1   2   3   4    blue
1  5   6   7   8  purple
2  9  10  11  12     red

In [21]:
# The first row is considered a header and used to define column names
print(df.columns.values)

['a' 'b' 'c' 'd' 'color']

In [22]:
# Specify column names explicitly
df = pd.read_csv('simple.csv', names = ['x1','x2','x3','x4','y'])
print(df)

  x1  x2  x3  x4       y
0  a   b   c   d   color
1  1   2   3   4    blue
2  5   6   7   8  purple
3  9  10  11  12     red

In [23]:
print(df.columns.values)

['x1' 'x2' 'x3' 'x4' 'y']

In [24]:
# An existing column can be defined as the index 
df = pd.read_csv('simple.csv',names=['x1','x2','x3','x4','y'],index_col='y')
print(df)

       x1  x2  x3  x4
y
color   a   b   c   d
blue    1   2   3   4
purple  5   6   7   8
red     9  10  11  12

In [25]:
print(df.index.values)

['color' 'blue' 'purple' 'red']

In [26]:
# Let's also look at a more typical example of input file
data = pd.read_csv('IMDB-Movie-Data.csv')
data

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0382932,2012-09-02,2012-09-02,NaN,Ratatouille,https://www.imdb.com/title/tt0382932/,movie,8.1,111,2007,"Animation, Adventure, Comedy, Family, Fantasy",726444,2007-06-22,"Brad Bird, Jan Pinkava"
1,2,tt0266543,2012-09-02,2012-09-02,NaN,Finding Nemo,https://www.imdb.com/title/tt0266543/,movie,8.2,100,2003,"Animation, Adventure, Comedy, Family",1034835,2003-05-18,"Andrew Stanton, Lee Unkrich"
2,3,tt0141109,2012-09-02,2012-09-02,Really sad movie :'( I cried bigtime!,Jack Frost,https://www.imdb.com/title/tt0141109/,movie,5.4,101,1998,"Comedy, Drama, Family, Fantasy",36826,1998-11-15,Troy Miller
3,4,tt0952640,2012-09-02,2012-09-02,NaN,Alvin and the Chipmunks,https://www.imdb.com/title/tt0952640/,movie,5.2,92,2007,"Animation, Adventure, Comedy, Drama, Family, F...",85999,2007-12-13,Tim Hill
4,5,tt0332379,2012-09-02,2012-09-02,NaN,School of Rock,https://www.imdb.com/title/tt0332379/,movie,7.2,109,2003,"Comedy, Music",304868,2003-09-09,Richard Linklater
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,250,tt2702724,2021-12-10,2021-12-10,NaN,The Boss,https://www.imdb.com/title/tt2702724/,movie,5.4,99,2016,Comedy,46541,2016-03-21,Ben Falcone
250,251,tt13834006,2022-02-05,2022-02-05,NaN,Huit Rue de l'Humanite,https://www.imdb.com/title/tt13834006/,movie,6.3,125,2021,Comedy,7096,2021-10-20,Dany Boon
251,252,tt14592064,2022-02-19,2022-02-19,NaN,Home Team,https://www.imdb.com/title/tt14592064/,movie,6.0,95,2022,"Comedy, Sport",18494,2022-01-28,"Charles Kinnane, Daniel Kinnane"
252,253,tt2463208,2022-03-16,2022-03-16,NaN,The Adam Project,https://www.imdb.com/title/tt2463208/,movie,6.7,106,2022,"Action, Adventure, Comedy, Sci-Fi",193809,2022-02-28,Shawn Levy
253,254,tt4593060,2022-09-11,2022-09-11,NaN,Pinocchio,https://www.imdb.com/title/tt4593060/,movie,5.1,105,2022,"Adventure, Comedy, Drama, Family, Fantasy, Mus...",25355,2022-09-08,Robert Zemeckis

#### From a JSON file

In [27]:
# Load the contents of a json file into a DataFrame using 'read_json'
data = pd.read_json('IMDB-Movie-Data.json')
data

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0382932,2012-09-02,2012-09-02,None,Ratatouille,https://www.imdb.com/title/tt0382932/,movie,8.1,111,2007,"Animation, Adventure, Comedy, Family, Fantasy",726444,2007-06-22,"Brad Bird, Jan Pinkava"
1,2,tt0266543,2012-09-02,2012-09-02,None,Finding Nemo,https://www.imdb.com/title/tt0266543/,movie,8.2,100,2003,"Animation, Adventure, Comedy, Family",1034835,2003-05-18,"Andrew Stanton, Lee Unkrich"
2,3,tt0141109,2012-09-02,2012-09-02,Really sad movie :'( I cried bigtime!,Jack Frost,https://www.imdb.com/title/tt0141109/,movie,5.4,101,1998,"Comedy, Drama, Family, Fantasy",36826,1998-11-15,Troy Miller
3,4,tt0952640,2012-09-02,2012-09-02,None,Alvin and the Chipmunks,https://www.imdb.com/title/tt0952640/,movie,5.2,92,2007,"Animation, Adventure, Comedy, Drama, Family, F...",85999,2007-12-13,Tim Hill
4,5,tt0332379,2012-09-02,2012-09-02,None,School of Rock,https://www.imdb.com/title/tt0332379/,movie,7.2,109,2003,"Comedy, Music",304868,2003-09-09,Richard Linklater
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,250,tt2702724,2021-12-10,2021-12-10,None,The Boss,https://www.imdb.com/title/tt2702724/,movie,5.4,99,2016,Comedy,46541,2016-03-21,Ben Falcone
250,251,tt13834006,2022-02-05,2022-02-05,None,Huit Rue de l'Humanite,https://www.imdb.com/title/tt13834006/,movie,6.3,125,2021,Comedy,7096,2021-10-20,Dany Boon
251,252,tt14592064,2022-02-19,2022-02-19,None,Home Team,https://www.imdb.com/title/tt14592064/,movie,6.0,95,2022,"Comedy, Sport",18494,2022-01-28,"Charles Kinnane, Daniel Kinnane"
252,253,tt2463208,2022-03-16,2022-03-16,None,The Adam Project,https://www.imdb.com/title/tt2463208/,movie,6.7,106,2022,"Action, Adventure, Comedy, Sci-Fi",193809,2022-02-28,Shawn Levy
253,254,tt4593060,2022-09-11,2022-09-11,None,Pinocchio,https://www.imdb.com/title/tt4593060/,movie,5.1,105,2022,"Adventure, Comedy, Drama, Family, Fantasy, Mus...",25355,2022-09-08,Robert Zemeckis

## Pandas Index Object

A Pandas ``Index`` object stores row index labels attached to Pandas objects. It is an immutable array implementing an **ordered, sliceable set of values**.

In [28]:
df.index

Index(['color', 'blue', 'purple', 'red'], dtype='object', name='y')

In [29]:
print(df.index.values)

['color' 'blue' 'purple' 'red']

In [31]:
data.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       244, 245, 246, 247, 248, 249, 250, 251, 252, 253],
      dtype='int64', length=254)

In [32]:
print(data.index.values)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253]


# 2) Indexing and Selection of Data in Pandas 

Pandas `Series` and `DataFrame` are attached to `index` objects. 

In addition, `DataFrame` also have column labels.

Building on NumPy, Pandas `Series` and `DataFrame` can be accessed and indexed using intelligent label-based slicing, fancy indexing, and selection of columns, in large data sets. In addition, Pandas objects support hierarchical indexing.

### Indexing, slicing, fancy indexing, and masking

## Indexing Series

A Pandas object can be indexed by label or by position i.e., there are two ways to index entries in a Pandas `Series`: either using their explicit labels, or using their implicit positions.

Indexing by position is particulary useful if we don't know, or care about, the index labels.

####  Indexing using labels

In [33]:
series = pd.Series([10,20,30,40,50,60,70,80,90], index=['x1','x2','x3','x4','x5','x6','x7','x8','x9'])
series

x1    10
x2    20
x3    30
x4    40
x5    50
x6    60
x7    70
x8    80
x9    90
dtype: int64

In [34]:
# Simple indexing using explicit labels
series['x1']

10

In [35]:
# Slicing using explicit labels
series['x1':'x7']

x1    10
x2    20
x3    30
x4    40
x5    50
x6    60
x7    70
dtype: int64

In [36]:
# Fancy indexing using explicit labels
series[['x2', 'x5', 'x8']]

x2    20
x5    50
x8    80
dtype: int64

In [37]:
# Masking
series[(series >= 40) & (series <= 80)]

x4    40
x5    50
x6    60
x7    70
x8    80
dtype: int64

#### Indexing using positions

In [38]:
# Simple indexing using positional indexes
series[0]

/var/folders/f6/jjmfkpp52bzg1lpytwjwn5jc0000gn/T/ipykernel_56377/3703508513.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series[0]

10

In [39]:
# Slicing using positional indexes
series[0:7]

x1    10
x2    20
x3    30
x4    40
x5    50
x6    60
x7    70
dtype: int64

In [40]:
# Fancy indexing using positional indexes
series[[1, 4, 7]]

/var/folders/f6/jjmfkpp52bzg1lpytwjwn5jc0000gn/T/ipykernel_56377/3914871895.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series[[1, 4, 7]]

x2    20
x5    50
x8    80
dtype: int64

The ability to use implicit or explicit indexing can lead to confusions, in particular if labels used for indices are integers too. 
**For example**:

In [41]:
series = pd.Series(['a','b','c','d','e'], index=[1,2,3,4,5])
series

1    a
2    b
3    c
4    d
5    e
dtype: object

**In code below, did the programmer mean position 4 or label 4?**

In [42]:
print(series[4])

d

If explicit labels are integers, Pandas defaults to indexing by explicit label, so here `4` is considered a label, not a position.

### Indexing by labels with ``loc``

To ensure and make clear that the index *label* is invoked, not the index *position*, the method ``loc`` can be used for indexing and slicing

In [43]:
print(series.loc[1], series.loc[2], series.loc[4])

a b d

In [44]:
print(series.loc[5]) # Equivalent to print(series[5])

e

### Indexing by positions with ```iloc```
To ensure the numerical (positional) index is invoked, not the label, the method ``iloc`` can be used for indexing and slicing

In [45]:
print(series.iloc[1], series.iloc[2], series.iloc[4])

b c e

In [46]:
print(series.iloc[5])  # Implicit (positional) index 5 is out of bounds

IndexError: single positional indexer is out-of-bounds

## Indexing and Selection in Dataframe


A``DataFrame`` is *indexed* like a series of `Series`.

Each column is a `Series`. 

Any column or set of columns can be *selected* (we used the word "*selected*" rather than "*indexed*" when refering to columns)

In [47]:
data = pd.DataFrame(np.random.rand(5, 5),
                    columns = ['x1', 'x2', 'x3', 'x4', 'y'],
                    index = ['Obs 1', 'Obs 2', 'Obs 3', 'Obs 4', 'Obs 5'])
data

             x1        x2        x3        x4         y
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322
Obs 5  0.521534  0.272439  0.075341  0.769085  0.597741

### Selection of columns

If there is only one argument in the square brackets of a 2D `DataFrame`, Pandas uses it to select column(s): it must be some existing column label(s)

In [48]:
data['x1'] # Simple indexing (='selection') using column labels

Obs 1    0.293394
Obs 2    0.892211
Obs 3    0.690902
Obs 4    0.221539
Obs 5    0.521534
Name: x1, dtype: float64

In [49]:
data['y'] # Simple indexing (='selection') using column labels

Obs 1    0.067391
Obs 2    0.920129
Obs 3    0.229816
Obs 4    0.994322
Obs 5    0.597741
Name: y, dtype: float64

In [50]:
data[['x1', 'x2', 'x4']] # Fancy indexing (='selection')

             x1        x2        x4
Obs 1  0.293394  0.742068  0.216965
Obs 2  0.892211  0.869314  0.838899
Obs 3  0.690902  0.986021  0.001963
Obs 4  0.221539  0.622911  0.420366
Obs 5  0.521534  0.272439  0.769085

The dot notation can be used as an alternative approach to select columns (same as in SQL query language).

This approach is not recommended due to risk of over-riding and confusing the `DataFrame`'s column names with the `DataFrame`'s methods (also invoked using the dot notation).

In [51]:
# Alternative approach to select columns 
data.y

Obs 1    0.067391
Obs 2    0.920129
Obs 3    0.229816
Obs 4    0.994322
Obs 5    0.597741
Name: y, dtype: float64

### Indexing of rows

#### Indexing rows in a specific column

In [52]:
data['x2'][0] # Select column + index the corresponding series by position

/var/folders/f6/jjmfkpp52bzg1lpytwjwn5jc0000gn/T/ipykernel_56377/3719715636.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data['x2'][0] # Select column + index the corresponding series by position

0.7420677348386971

In [53]:
data['y'][0] # Select column + index the corresponding series by position

/var/folders/f6/jjmfkpp52bzg1lpytwjwn5jc0000gn/T/ipykernel_56377/214712727.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data['y'][0] # Select column + index the corresponding series by position

0.06739125110569544

In [54]:
data['y'][0: 4] # Can use slicing

Obs 1    0.067391
Obs 2    0.920129
Obs 3    0.229816
Obs 4    0.994322
Name: y, dtype: float64

In [55]:
data['y']['Obs 1'] # Can index series by explicit label too

0.06739125110569544

In [56]:
data['y']['Obs 1': 'Obs 4'] # Can use slicing by explicit label too

Obs 1    0.067391
Obs 2    0.920129
Obs 3    0.229816
Obs 4    0.994322
Name: y, dtype: float64

In [57]:
data['y'].iloc[0]  # Can use iloc to ensure indexing by position

0.06739125110569544

In [58]:
data['y'].loc['Obs 1']  # Can use loc to ensure indexing by explicit label

0.06739125110569544

#### Fancy indexing: indexing rows in several columns

Everything shown above can be done when selecting more than one column.

In [59]:
data[['x1','x3','y']].iloc[0:4] # Select columns + slice rows by position

             x1        x3         y
Obs 1  0.293394  0.990804  0.067391
Obs 2  0.892211  0.797837  0.920129
Obs 3  0.690902  0.564146  0.229816
Obs 4  0.221539  0.354264  0.994322

#### Indexing rows 'for all columns'

If no column is specified, all columns are selected

In [60]:
data['Obs 1'] # ERROR: loc/iloc must be used to index rows (exception for slicing as explained below)

KeyError: 'Obs 1'

In [61]:
data.loc['Obs 1'] # Select all columns and index rows by label

x1    0.293394
x2    0.742068
x3    0.990804
x4    0.216965
y     0.067391
Name: Obs 1, dtype: float64

In [62]:
data.iloc[0] # Select all columns and index rows by position

x1    0.293394
x2    0.742068
x3    0.990804
x4    0.216965
y     0.067391
Name: Obs 1, dtype: float64

In [63]:
data['Obs 1': 'Obs 4']  # Slicing rows works directly (Pandas allows it because slicing is valid only for indexes/rows, so no possible confusion)

             x1        x2        x3        x4         y
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322

In [64]:
data.loc['Obs 1': 'Obs 4'] # Ensure and clarify slicing by index explicit label

             x1        x2        x3        x4         y
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322

In [65]:
data.iloc[0: 4] # Ensure and clarify slicing by index position

             x1        x2        x3        x4         y
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322

### Masking / Boolean indexing

In [66]:
data[data['x1'] < 0.8] # Simple mask to filter rows based on values in a column

             x1        x2        x3        x4         y
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322
Obs 5  0.521534  0.272439  0.075341  0.769085  0.597741

In [67]:
# Mask to select rows with several conditions simultaneously satisfied
data[(data['x1'] >= 0.1) & (data['x2'] <= 0.5)]

             x1        x2        x3        x4         y
Obs 5  0.521534  0.272439  0.075341  0.769085  0.597741

In [68]:
# ERROR: As in NumPy, masking requires specific operator (&, |, ~) instead of (and, or, not)
data[(data['x1'] >= 0.1) and (data['x2'] <= 0.5)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Select NumPy (sub-)array out of a data frame

In [69]:
data.values # Produce array corresponding to entire DataFrame

array([[0.29339353, 0.74206773, 0.99080439, 0.21696512, 0.06739125],
       [0.89221094, 0.86931449, 0.79783677, 0.83889933, 0.92012928],
       [0.69090162, 0.98602132, 0.56414647, 0.00196262, 0.22981613],
       [0.22153887, 0.6229111 , 0.35426406, 0.42036559, 0.99432246],
       [0.52153394, 0.27243883, 0.07534079, 0.76908485, 0.5977414 ]])

In [70]:
data.values[0] # Produce array, then index a specific row in this array

array([0.29339353, 0.74206773, 0.99080439, 0.21696512, 0.06739125])

In [71]:
data.values[0:4, 2:] # Produce array, then slice specific rows and columns in this array

array([[0.99080439, 0.21696512, 0.06739125],
       [0.79783677, 0.83889933, 0.92012928],
       [0.56414647, 0.00196262, 0.22981613],
       [0.35426406, 0.42036559, 0.99432246]])

### Transpose the data frame

In [73]:
data.T

       Obs 1     Obs 2     Obs 3     Obs 4     Obs 5
x1  0.293394  0.892211  0.690902  0.221539  0.521534
x2  0.742068  0.869314  0.986021  0.622911  0.272439
x3  0.990804  0.797837  0.564146  0.354264  0.075341
x4  0.216965  0.838899  0.001963  0.420366  0.769085
y   0.067391  0.920129  0.229816  0.994322  0.597741

In [74]:
data.T.iloc[0] # Reverse semantic of iloc compared to original data object

Obs 1    0.293394
Obs 2    0.892211
Obs 3    0.690902
Obs 4    0.221539
Obs 5    0.521534
Name: x1, dtype: float64

In [75]:
data.T.loc['x1'] # Reverse semantic of loc compared to original data object

Obs 1    0.293394
Obs 2    0.892211
Obs 3    0.690902
Obs 4    0.221539
Obs 5    0.521534
Name: x1, dtype: float64

In [77]:
# Once transposed, we can slice the columns of the original data frame 
data.T.loc['x1': 'x3']

       Obs 1     Obs 2     Obs 3     Obs 4     Obs 5
x1  0.293394  0.892211  0.690902  0.221539  0.521534
x2  0.742068  0.869314  0.986021  0.622911  0.272439
x3  0.990804  0.797837  0.564146  0.354264  0.075341

### Add/delete columns

#### Create new columns

In [89]:
data['x1square'] = data['x1'] ** 2
data['x2square'] = data['x2'] ** 2
data

             x1        x2        x3        x4         y  x1square  x2square
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391  0.086080  0.550665
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129  0.796040  0.755708
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816  0.477345  0.972238
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322  0.049079  0.388018
Obs 5  0.521534  0.272439  0.075341  0.769085  0.597741  0.271998  0.074223

In [90]:
data['x1square']

Obs 1    0.086080
Obs 2    0.796040
Obs 3    0.477345
Obs 4    0.049079
Obs 5    0.271998
Name: x1square, dtype: float64

In [91]:
data.x1square

Obs 1    0.086080
Obs 2    0.796040
Obs 3    0.477345
Obs 4    0.049079
Obs 5    0.271998
Name: x1square, dtype: float64

In [92]:
data['check x1'] = data['x1'] ** 2 == data['x1square']
data

,x1,x2,x3,x4,y,x1square,x2square,check x1
Obs 1,0.293394,0.742068,0.990804,0.216965,0.067391,0.086080,0.550665,True
Obs 2,0.892211,0.869314,0.797837,0.838899,0.920129,0.796040,0.755708,True
Obs 3,0.690902,0.986021,0.564146,0.001963,0.229816,0.477345,0.972238,True
Obs 4,0.221539,0.622911,0.354264,0.420366,0.994322,0.049079,0.388018,True
Obs 5,0.521534,0.272439,0.075341,0.769085,0.597741,0.271998,0.074223,True

#### Delete columns

In [93]:
data = data.drop('check x1', axis=1)  # Does not mutate (parameter 'inplace' False by default)
data

             x1        x2        x3        x4         y  x1square  x2square
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391  0.086080  0.550665
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129  0.796040  0.755708
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816  0.477345  0.972238
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322  0.049079  0.388018
Obs 5  0.521534  0.272439  0.075341  0.769085  0.597741  0.271998  0.074223

In [94]:
data.drop(['x1square','x2square'], axis=1, inplace=True) # Mutate when 'inplace' = True
data

             x1        x2        x3        x4         y
Obs 1  0.293394  0.742068  0.990804  0.216965  0.067391
Obs 2  0.892211  0.869314  0.797837  0.838899  0.920129
Obs 3  0.690902  0.986021  0.564146  0.001963  0.229816
Obs 4  0.221539  0.622911  0.354264  0.420366  0.994322
Obs 5  0.521534  0.272439  0.075341  0.769085  0.597741

### Hierarchical indexing
Pandas can define a *hierarchical* labeling of any axes, meaning it's possible to have multiple labels per '*tick*'. 

Labels become lists of lists, creating a hierarchy. 

Hierarchical indexing can be defined for rows and/or columns.

In [84]:
s = pd.Series(np.random.randn(10),
              index=[['a','a','a','b','b','b','c','c','d','d'],
                     [1,2,3,1,2,3,1,2,2,3]])
print(s)

a  1    1.782424
   2   -0.495283
   3    0.689011
b  1    2.510957
   2    0.458719
   3   -0.027368
c  1   -0.576929
   2    1.526915
d  2   -0.852392
   3    0.364351
dtype: float64

#### Query a sub-frame corresponding to a specific label in the hierarchy

In [95]:
print(s['a'])

1    1.782424
2   -0.495283
3    0.689011
dtype: float64

In [96]:
print(s['b':'c']) # Slicing

b  1    2.510957
   2    0.458719
   3   -0.027368
c  1   -0.576929
   2    1.526915
dtype: float64

#### Hierarchical labels can be defined both in rows and columns

In [97]:
df = pd.DataFrame(np.arange(40).reshape((10,4)),
           index=[['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,2,3]],
           columns=[['Feature A','Feature A','Feature B','Feature B'],
                    ['A1','A2','B1','B2']])

print(df)

    Feature A     Feature B
           A1  A2        B1  B2
a 1         0   1         2   3
  2         4   5         6   7
  3         8   9        10  11
b 1        12  13        14  15
  2        16  17        18  19
  3        20  21        22  23
c 1        24  25        26  27
  2        28  29        30  31
d 2        32  33        34  35
  3        36  37        38  39

#### When querying sub-frames, Pandas automatically attaches the relevant sub-hierarchy of labels

In [98]:
print(df['Feature A'])

     A1  A2
a 1   0   1
  2   4   5
  3   8   9
b 1  12  13
  2  16  17
  3  20  21
c 1  24  25
  2  28  29
d 2  32  33
  3  36  37

In [99]:
print(df.loc['a'])

  Feature A    Feature B
         A1 A2        B1  B2
1         0  1         2   3
2         4  5         6   7
3         8  9        10  11

In [100]:
print(df['Feature A'].loc['a'])

   A1  A2
1   0   1
2   4   5
3   8   9

#### Let's look at an example of hierarchical indexing with real-world data:

In [101]:
# Given population in 2000 and 2010 of three states, listed by state
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

# Create a list of tuples
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

# Create a MultiIndex object
index2D = pd.MultiIndex.from_tuples(index)

# Create a Pandas series with hierarchical indexing 
pop = pd.Series(populations, index2D)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

A dictionary can be used as input, in which case Pandas automatically create a `MultiIndex`. 

Here is the same example as above, but using a dictionary as input:

In [102]:
# Given population in 2000 and 2010 of three states, listed by state
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561}

# Create a Pandas series with hierarchical indexing, directly from the dictionary
pd.Series(data)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

Same result, but less code...

## Please visit this URL and challenge yourself on the practice exercises:

https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset.html

Metadata on this dataset can be found here: https://www.esapubs.org/archive/ecol/E090/118/Portal_rodent_metadata.htm

In [103]:
surveys = pd.read_csv("./surveys.csv")

In [104]:
surveys.shape

(35549, 9)

In [105]:
surveys.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [106]:
surveys.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [107]:
surveys.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [108]:
surveys.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

#### Practice Exercice:

In [109]:
# 1) What does this do?
surveys.loc[[0, 10]]  # Same as surveys.loc[[0, 10],:]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN


[ YOUR RESPONSE ]

In [110]:
# 2) What does this do?
surveys[['species_id', 'plot_id', 'weight']].loc[0]  # Same as surveys.loc[0,['species_id', 'plot_id', 'weight']]

species_id     NL
plot_id         2
weight        NaN
Name: 0, dtype: object


[ YOUR RESPONSE ]

In [113]:
# 3) What happens when you type the code below? Why?
surveys.loc[[10, 100, 35548]]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
10,11,7,16,1977,5,DS,F,53.0,NaN
100,101,8,20,1977,5,DM,F,35.0,46.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN


[ YOUR RESPONSE ]

In [115]:
# 4) What happens when you type the code below? Why?
surveys.iloc[[10, 100, 35548]]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
10,11,7,16,1977,5,DS,F,53.0,NaN
100,101,8,20,1977,5,DM,F,35.0,46.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN


[ YOUR RESPONSE ]

In [ ]:
# 5) How can you index the data by the values in the column "record_id"?

In [ ]:

# [YOUR RESPONSE]

In [ ]:
# 6) Create a new DataFrame that contains only records from 2000-2010

In [ ]:

# [YOUR RESPONSE]

In [ ]:
# 7) Create a new DataFrame that contains only observations that are 
#    of sex "male" or "female", and where weight values are greater than 10

In [ ]:

# [YOUR RESPONSE]

## Thank you Everyone!